@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.footer_e{
    background-color: #f7f7f7;
    padding-bottom: 20px;
}

.division_e{
    color:#656565;
    size: 1px;
}

.iconos_e{
    color: #f9b5ac;
    margin-top: 20px;
}

.letra_e{
    color:#656565;
    padding-bottom: 8px;
}