.navbar {
    background-color:#F7F7F7 ;
    color: #656565 !important;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%; 
    padding: 30px;   
  }

  .navbar > a {
    text-align: left; 
  }

  a{
    /* line-height: none; */
    text-decoration: none;
  }
  a:visited{
    outline: none;
  }

  
  .logoHeader {
    max-width: 200px !important;
  }
  
  .navbar-nav {
    display: flex;
    justify-self: end;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    width:60%;
  }
  
  .nav-item a {
    color: #656565 !important;
    text-decoration: none;
    font-weight: bold;
  }

  .nav-item a:hover {
    color: rgba(249, 181, 172, 0.6) !important;
  }
  
  @media (max-width: 767px) {

    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .navbar-nav {
      display: block;
      text-align: right;   
  }

  .navbar-nav li {
    padding-bottom: 5px;
}
  
  }